body{
    font-family: Fira Sans;
    background-color: rgba(212, 212, 211, 0.15);
}
header,main{
    padding-left: 160px;
    padding-right: 160px;
}
.navbtn{
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    width: 116px;
    height: 52px;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
}
.navbtn:hover{
    background-color: #C6E4D6;
}
.navh1{
    font-size: 32px;
    font-weight: 700;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}
section{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:80px ;
}
.secp{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
.sech1{
    font-size: 56px;
    font-weight: 700;
    
}
.secbtn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 270px;
    height: 56px;
}
.secbtn:hover{
    background-color:rgb(17, 83, 66) ;
}
.child1,.child2,.child3,.child4{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    width: 302px;
    height: 244px;
    padding: 24px;
}
.child1:hover{
    background: rgb(229, 228, 228);
}
.child2:hover{
    background: rgb(229, 228, 228);
}
.child3:hover{
    background: rgb(229, 228, 228);
}
.child4:hover{
    background: rgb(229, 228, 228);
}
.pillar{
    font-size: 40px;
    font-weight: 700;
}
.inno{
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.def{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.parent{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.vision{
    font-size: 40px;
    font-weight: 700px;
}
.bd{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.child5{
    
border-radius: 16px;
padding: 30px;
background: rgba(84, 144, 245, 0.2);
width: 410px;
height: 325px;
font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.child5:hover {
background-color: rgba(7, 90, 233, 0.2);
    
}

.child6{
border-radius: 16px;
padding: 30px;
background: rgb(198, 228, 214);
width: 410px;
height: 325px;
font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.child6:hover{
    background: rgb(170, 233, 203);
}
.child7{
border-radius: 16px;
padding: 30px;
background: rgb(247, 235, 207);
width: 410px;
height: 325px;
font-size: 20px;
    
}
.child7:hover{
    background: rgb(247, 223, 167);
}
.blue{
    border-radius: 8px;
    background-color:#5490F5;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #5490F5;
    padding: 11px 20px;
}
.blue:hover{
    background-color:#1153c4 ;
}
.green{
    border-radius: 8px;
    background-color:#09A15C;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #09A15C;
    padding: 11px 20px;
}
.green:hover{
    background-color:#0c673e ;
}
.orange{
    border-radius: 8px;
    background-color:#FFC239;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #FFC239;
    padding: 11px 20px;
}
.orange:hover{
background-color: #b68513;
}
.mdyunus{
    background-image: url('assets/quote-bg.png');
    background-position-x: 24px;
    background-position-y: 24px;
    background-repeat: no-repeat;
    padding:48px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
}
.yunus{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
}
#yunus{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}
#chief{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
}

table,th{
    border-collapse: collapse;
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 100%;
}
.tdiv{
    border-radius: 16px;
background: rgb(255, 255, 255);
padding: 24px;
}
th{
    padding: 24px;
    text-align: left;
}
th,select{
    font-size: 16px;
    font-weight: 600;
}
select{
    background-color: rgb(198, 228, 214);
    padding: 10px;
    border-radius: 4px;
}
.recent{
    font-size: 40px;
    font-weight: 700;
}
.satelite{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.aljazeera{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.image{
    border-radius: 24px;
}
.imgdiv{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin: 24px;
}
.read{
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    border: 1px solid rgb(0, 106, 80);
    background: rgb(0, 106, 80);
    padding:13px 26px;
}
.read:hover{
    background: rgb(17, 83, 66);
}
.taka{
    color: rgba(14, 14, 14, 0.8);

font-size: 40px;
font-weight: 700;

border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
padding: 40px;
background: rgb(255, 255, 255);
}
.taka:hover{
    background-color: rgb(55, 204, 167);
}
.taka2{
    color: rgba(14, 14, 14, 0.8);

font-size: 40px;
font-weight: 700;
background-color: #C6E4D6;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
padding: 40px;
}
.taka2:hover{
    background-color: rgb(55, 204, 167);
}
.donate{
    padding: 20px 40px;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
width: 1032px;
}
.dnt{
    border: 1px solid white;
    color: rgba(14, 14, 14, 0.1);
font-size: 20px;
font-weight: 400;
}
.done{
    color: rgb(255, 255, 255);

font-size: 18px;
font-weight: 600;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
padding: 17px 34px;
margin-top: 32px;
margin-bottom: 80px;
background: rgb(0, 106, 80);
}
.done:hover{
    background-color: rgb(17, 83, 66)
}
.form{
    border-radius: 8px 0px 0px 8px;
width: 600px;
background: rgb(255, 255, 255);
padding: 18px 40px;
}
.sbscrb{
    border: 1px solid white;
    color: rgba(14, 14, 14, 0.3);

font-size: 16px;
font-weight: 400;
}
.subscribe-newsletter{
    border-radius: 24px;

background: rgb(198, 228, 214);
padding: 80px 100px;
}
.subscribe{
    color: rgb(255, 255, 255);

font-size: 18px;
font-weight: 600;
border-radius: 0px 8px 8px 0px;
border: 1px solid rgb(0, 106, 80);
background: rgb(0, 106, 80);
padding: 17px 34px;
}
.subscribe:hover{
    background-color: rgb(17, 83, 66)
}
footer{
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top:50px ;
    padding-bottom:50px ;
}
.final{
font-size: 32px;
font-weight: 700;
text-align: center;
}
.brdr{
    border: 1px solid rgba(14, 14, 14, 0.1);
    width: 1122px;
    margin: auto;
}
